development:
  adapter: postgresql
  encoding: unicode
  database: vape_development
  host: localhost
  username: username
  password: password

test:
  adapter: postgresql
  encoding: unicode
  database: vape_test
  host: localhost
  username: username
  password: password