@import 'variables';

.vape__products-wrapper {
	max-width: 128rem;
	margin: 0 auto;
	display: flex;
	.vape__product-card {
		width: 320px;
		& > a {
			margin: 0 1rem 1rem 0;
			border: 1px solid black;
			display: flex;
			align-items: center;
			flex-direction: column;
			text-decoration: none;
			color: black;
			max-width: 320px;
			height: 50rem;
			&:hover {
				border: 1px solid blue;
			}
		}
		&__content {
			max-width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			height: 100%;
		}
		&__text {
			&--title {
				display: flex;
    		align-items: center;
				font-weight: 600;
				font-size: 2rem;
				height: 7rem;
			}
			&--description {
				height: 20rem;
			}
			&--price {
				color: $red;
				font-weight: 600;
			}
			
		}
		&__image {
			width: 20rem;
			height: auto;
		}
		&__color-block {
			display: flex;
			align-items: center;
			&--color {
				width: 2rem;
				height: 2rem;
				margin-left: 1rem;
			}
		}
	}
}

.vape__product-container {
	.vape__product-card {
		&__color-block {
			display: flex;
			align-items: center;
			&--color {
				width: 2rem;
				height: 2rem;
				margin-left: 1rem;
			}
		}
	}
}